Flask
Werkzeug
Flask-SQLAlchemy
SQLAlchemy
Flask-Migrate
psycopg2-binary
Flask-WTF
WTForms
Flask-Talisman
Flask-Limiter
email-validator
pyotp
qrcode
python-dotenv
filetype
redis
Pillow
pillow-heif
gunicorn
